<!DOCTYPE html>
<html ng-app="eventsApp">
<head>
	<title></title>
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css"/>
</head>
<body>
<div class="container">
	<div class="navbar">
		<ul class="nav">
			<li><a href="/NewEvent.html">Create event</a></li>
		</ul>
	</div>
	<div ng-controller="EventCtrl">
		<div class="row text-info well">
			<div class="col-xs-2">{{event.date}}</div>
			<div class="col-xs-7">{{event.name}}</div>
			<div class="col-xs-3 pull-right">
				<address>
					<strong>Address:</strong> <br/>
					{{event.location.address}}<br/>
					{{event.location.city}}
				</address>
			</div>
		</div>
		<hr />
		<h1>Sessions</h1> <button class="btn">Disable</button>
			<div class="well" ng-repeat="session in event.sessions">
				<h2>{{session.name}}</h2>
				<div>
					Votes:
					<span class="badge badge-inverse">
						{{session.votes}}
					</span>
					<span class="glyphicon glyphicon-star" ng-click="voteSession(session)"></span>
				<div>
				<p>{{session.description}}</p>
			</div>
	</div>
</div>

	<script type="text/javascript" src="../lib/angular.min.js"></script>
	<script type="text/javascript" src="../lib/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="../lib/bootstrap/js/bootstrap.js"></script>

	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="controllers/controller.js"></script>
</body>
</html>