<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FParsec" version="1.0.3" targetFramework="net452" />
  <package id="FsCheck" version="2.10.4" targetFramework="net452" />
  <package id="FSharp.Charting" version="0.90.14" targetFramework="net452" />
  <package id="FSharp.Core" version="4.1.17" targetFramework="net452" />
  <package id="FSharp.Data" version="2.3.0" targetFramework="net452" />
  <package id="FSharp.Text.RegexProvider" version="0.0.7" targetFramework="net452" />
  <package id="FSharpx.Collections" version="1.17.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net452" />
  <package id="Unquote" version="3.1.1" targetFramework="net452" />
  <package id="xunit" version="2.1.0" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net452" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net452" />
  <package id="xunit.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net452" />
  <package id="Zlib.Portable" version="1.11.0" targetFramework="net452" />
</packages>